body {
  display: flex;
  place-content: center;
  background-color: lightgray;
  font-family: Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 1.2rem;
}

.tribute-info {
  width: 60%;
  margin: auto;
  text-align: left;
}
img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: auto;
}
